body{
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

header{
  background: #111;
  color: white;
  padding: 30px;
  text-align: center;
}

section{
  padding: 20px;
  background: white;
  margin: 15px;
  border-radius: 6px;
}

h2{
  color: #333;
}
